<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
    <link rel = "stylesheet" href = "style/forbespark.css">
</head>
<body>
    <%- include('menu.ejs') %>
    </div>

    <div class="map" onclick="window.location.href='makati';">
        <img src="image/Ph_fil_makati_barangay.png" alt="makati barangays" class="barangaymap" usemap="#makati">
    </div>

    <img src="image/forbespark_masked.png" alt="" style="position:absolute" id="barangay">
    <div class="info">
        <h3 id="population">Population: 3,715</h3>
        <h3 id="totalarea">Total Area: 2,500,000 mˆ2</h3>
        <h3 id="mingreen">Required Greenery(%): 1.34</h3>
        <h3 id="greenery">Current Greenery(%): 41.03</h3>
    </div>
</body>
</html>