<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
    <link rel = "stylesheet" href = "style/makati.css">
</head>
<body>
    <%- include('menu.ejs') %>
    </div>

    <div class="map">
        <img src="image/Ph_fil_makati_barangay.png" alt="makati barangays" class="barangaymap" usemap="#makati">
        <map name="makati">
            <area href="/belair" class="area" target="" alt="Bel Air" title="Bel Air" coords="208,188,196,218,209,236,236,257,293,293,333,229,340,218,350,222,363,231,377,242,386,249,396,262,423,295,485,242,476,227,466,208,443,208,428,207,413,210,400,217,389,217,384,214,380,208,373,211,366,213,360,213,345,210,336,206,347,187,339,179,296,163,290,171,282,175,272,173,270,180,264,198,250,205,237,201,220,193" shape="poly">
            <area href="/urdaneta" class="area" target="" alt="Urdaneta" title="Urdaneta" coords="340,226,380,255,415,296,355,351,323,315,300,302,336,234" shape="poly">
            <area href="/sanisidro" class="area" target="" alt="San Isidro" title="San Isidro" coords="101,272,125,321,95,324,86,328,96,349,81,344,51,332,37,325,33,310,24,301" shape="poly">
            <area href="/forbespark" class="area" target="" alt="Forbes Park" title="Forbes Park" coords="360,357,445,279,451,281,462,286,468,289,478,291,488,293,494,292,508,308,516,338,517,359,521,371,528,391,541,430,547,444,541,450,531,453,532,461,521,461,515,465,500,462,488,465,479,472,467,472,467,488,467,502,458,512,450,518,439,519,434,506,431,494,422,484,411,478,397,465,387,449,379,427,375,415,397,410,407,405,404,394,403,385,403,376,382,368" shape="poly">
        </map>
    </div>
</body>
</html>