<div class="cities">
    <img src="image/ecoscape-high-resolution-logo-transparent.png" alt="" style="width: 30%;">
    <a href="/">Caloocan</a>
    <a href="/">Las Pinas</a>
    <a href="makati">Makati</a>
    <a href="/">Malabon</a>
    <a href="/">Mandaluyong</a>
    <a href="/">Manila</a>
    <a href="/">Marikina</a>
    <a href="/">Muntinlupa</a>
    <a href="/">Navotas</a>
    <a href="/">Paranaque</a>
    <a href="/">Pasay</a>
    <a href="/">Pasig</a>
    <a href="/">Pateros</a>
    <a href="/">Quezon</a>
    <a href="/">San Juan</a>
    <a href="/">Taguig</a>
    <a href="/">Valenzuela</a>
</div>