<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
    <link rel = "stylesheet" href = "style/sanisidro.css">
</head>
<body>
    <%- include('menu.ejs') %>
    </div>

    <div class="map" onclick="window.location.href='makati';">
        <img src="image/Ph_fil_makati_barangay.png" alt="makati barangays" class="barangaymap" usemap="#makati">
    </div>

    <img src="image/sanisidro_masked.png" alt="" style="position:absolute" id="barangay">
    <div class="info">
        <h3 id="population">Population: 6,098</h3>
        <h3 id="totalarea">Total Area: 500,000 mˆ2</h3>
        <h3 id="greenery">Current Greenery(%): 0.48</h3>
    </div>
</body>
</html>